{% extends "base.html" %}

{% block title %}
  {% if form.instance.pk %}
    Edit
  {% else %}
    Create
  {% endif %}
    post -
{% endblock %}

{% block content %}
  <div class="page">
    <div id="postEdit">
      {% if form.instance.pk %}
        <h2>Edit post</h2>
      {% else %}
        <h2>New post</h2><br>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <br>
          {% if field.label == 'Post now' %}
            <div id="checkBoxParent">
              <p>{{field.label_tag}}{{field}}<span id="checkBox"></span></p>
            </div>
          {% else %}
            <p>{{field.label_tag}}{{field}}</p>
          {% endif %}
        {% endfor %}
        <br>
        <button class="btn" type="submit">Save post</button>
      </form>
    </div>
  </div>
{% endblock %}
